/* Email sidebar styling */

.email-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60px; /* Adjust width as necessary */
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.email-container {
  writing-mode: vertical-rl; /* Display text vertically */
  position: fixed;

  text-align: center; /* Center the text */
  background-color: #0a192f;
}

.email-container a {
  text-decoration: none;
  word-break: break-all; /* Break the email address if it's too long */
}

.email-text-custom {
  color: white;
}

/* Style for the entire header */
.header-container {
  background-color: #0a192f; /* Light grey background */ /* Padding around the header */
  color: white;
}
/* email text styling */

.nav-box {
  display: flex; /* Flexbox layout */
  justify-content: flex-end; /* Aligns children to the end (right) */
  align-items: center; /* Align items vertically */
}

.nav-items-container {
  display: flex; /* Flexbox layout for the nav items */
}

.nav-item {
  margin-left: 20px; /* Space between each nav item */
}

.nav-link {
  padding: 10px 20px; /* Padding for the links */
  text-decoration: none;
  color: #007bff; /* Bootstrap primary blue color */
  font-weight: bold;
}

.nav-link:hover {
  color: #0056b3; /* Darker blue on hover */
  background-color: #f8f8f9; /* Light grey background on hover */
}

/* Custom styles for the "Home" button */
.home-button {
  position: absolute;
  top: 20px;
  left: 80px;
  padding: 10px; /* Add padding for spacing */
  background-color: #007bff; /* Customize the button background color */
  color: #fff; /* Customize the button text color */
  border: 1px solid #007bff; /* Add a border around the button */
  border-radius: 10px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor on hover */
  text-decoration: none; /* Remove underline */
}

/* Style for the Resume button */
.resume-button {
  position: absolute;
  top: 20px;
  right: 80px;
  padding: 10px; /* Add padding for spacing */
  background-color: #007bff; /* Customize the button background color */
  color: #fff; /* Customize the button text color */
  border: 1px solid #007bff; /* Add a border around the button */
  border-radius: 10px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor on hover */
  text-decoration: none; /* Remove underline */
}

.resume-button:hover {
  background-color: #b93364;
}
