/* src/styles/pages.css */

/* Home Page Syling */
.intro {
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}
/* Styling for the main heading on the Home page */
.greeting {
  font-size: 20px;
  color: #555;
  margin-bottom: 5px;
}

.name {
  font-size: 36px;
  color: #222;
  margin: 0;
}

.description {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-top: 20px;
}

/* About Page Syling */

/* src/styles/pages.css */

/* Styling for paragraphs in the bio section */
.bio-paragraph {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 10px;
  text-align: justify;
}

/* Styling for list items in the bio section */
.bio-list-item {
  font-size: 16px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 5px;
  color: #555;
}

/* Styling for the main heading on the About page */
/h2 {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

/* Projects Page Syling */
