/* src/styles/pages.css */

/* Home Page Syling */

.home-container {
  /* Add custom container styles here */
  background-color: #0a192f;
  padding: 20px;
  border-radius: 5px;
}

.home-heading {
  /* Add custom heading styles here */
  font-size: 28px;
  color: #0b0fdb;
  text-align: center;
}

.home-paragraph {
  /* Add custom paragraph styles here */
  line-height: 2; /* Add line height for spacing */
  text-align: center;
  padding: 10px;
  margin: auto;
}

/* Styling for the main heading on the About page */
/* Styling for ABOUT page */

/* Container styles */
.custom-about-container {
  /* Add custom container styles here */
  background-color: #0a192f;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

/* Heading styles "About Me" */
.custom-heading {
  /* Add custom heading styles here */
  font-size: 28px;
  color: #0a9f2d;
}

/* List styles for skills row*/
.custom-list {
  /* Add custom list styles here */
  list-style-type: disc;
  margin-left: 20px;
}

/* List item styles for skills */
.custom-list-item {
  /* Add custom list item styles here */
  color: #f3f5fa;
}

/* Icon styles for skills items */
.custom-icon {
  /* Add custom icon styles here */
  font-size: 50px;
}

/* Paragraph styles */
.custom-paragraph {
  /* Add custom paragraph styles here */
  line-height: 3.5; /* Add line height for spacing */
}

/* Styling for the projects page */

.card-img-top {
  /* Add custom card image styles here */
  height: 200px;
  object-fit: cover;
}
